body {
  margin: 0;
  font-family: monospace;
  font-size: larger;
  background-color: #222;
  color: #EEE;
}

#root {
  display: flex;
  flex-direction: column;
}

.icon {
  position: relative;
  width: auto;
  height: 2ch;
  filter: invert();
}
.icon.inactive {
  filter: invert(0.4);
}

tr {
  --indent: 0;
}
tr > td:first-child > div {
  margin-left: calc(var(--indent) * 1em);
}