body {
  margin: 0;
  font-family: monospace;
  font-size: larger;
  background-color: #222;
  color: #EEE;
}

#root {
  display: flex;
  flex-direction: column;
}

.caret {
  position: relative;
  width: 1em;
  height: 1em;
  filter: invert();
}